@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Xín chào tôi là Một người yêu đời nhưng đời đếch yêu tôi, và tôi vấn yêu đời, do đen nên ko load lại ảo thật đấy</p>
